h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

.primera_parteform1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
}